@model TargetDDContext.Models.Table

@{
    ViewData["Title"] = "Details";
    var baseColumn = Model?.Columns != null ? Model.Columns.FirstOrDefault() : new TargetDDContext.Models.Column();


}

<h1>Details</h1>

<div>
    <a asp-action="Edit" asp-route-route-tableschema="@Model?.TableSchema" asp-route-route-tablename="@Model?.TableName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h4>Source Table</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableSchema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableSchema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TableName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TableName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeedsMigration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeedsMigration)
        </dd>
    </dl>
</div>

@if (baseColumn != null && Model != null)
{
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.ColumnName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.DataType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.SourceTable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.SourceColumn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.NonNulls)
                </th>
                <th>
                    @Html.DisplayNameFor(model => baseColumn.DistinctValues)
                </th>
                <th></th>
            </tr>
        </thead>
        
        @foreach (var item in Model.Columns.OrderBy(c => c.ColumnName))
        {

            <tr>

                <td>@Html.DisplayFor(c => item.ColumnName)</td>
                <td>@Html.DisplayFor(c => item.DataType)</td>
                <td>@Html.DisplayFor(c => item.SourceTable)</td>
                <td>@Html.DisplayFor(c => item.SourceColumn)</td>
                <td>@Html.DisplayFor(c => item.NonNulls)</td>
                <td>@Html.DisplayFor(c => item.DistinctValues)</td>

            </tr>


        }

</table>
    
}

