@*
    @model IEnumerable<MyTrader.Models.Stock>

*@

@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@model Sakura.AspNetCore.IPagedList<SourceDDContext.Models.Column>

@{
    var viewList = Model.Select(c => new SourceColumnViewModel(c)).ToList();
}


<div id="pagerTemplate" data-openfilter="@ViewBag.openFilter" style="display: none;">
    <pager setting-list-attr-data-totalCount="@Model.TotalCount" 
           setting-link-attr-data-ajax="true" 
           setting-link-attr-data-ajax-update="#htxAjaxList" 
           setting-link-attr-data-ajax-loading="#htoajaxloadspinner" 
           setting-link-attr-data-ajax-success="movePagers" />
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => viewList.FirstOrDefault().TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => viewList.FirstOrDefault().ColumnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => viewList.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => viewList.FirstOrDefault().DistinctValues)
            </th>
            <th>
                @Html.DisplayNameFor(model => viewList.FirstOrDefault().ColumnTargetsDisp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in viewList)
        {
            <tr>
                <td>
                    <a asp-controller="SourceTables" asp-action="Details" asp-all-route-data="@item.SourceTable.RouteValues">
                        @Html.DisplayFor(modelItem => item.TableName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistinctValues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnTargetsDisp)
                </td>
                <td>
                    <a asp-action="Details" asp-all-route-data=@item.RouteValues>Details</a> |
                    <a asp-action="Edit" asp-all-route-data=@item.RouteValues>Edit</a> |
                    @*
                <a asp-action="Edit" asp-route-id="@item.MigrationHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MigrationHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MigrationHistoryId">Delete</a>

                *@
                </td>
            </tr>
        }
    </tbody>
</table>
